@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
  font-family: 'Poppins';
}

.Background{
    background-image: url(../../images//back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .centralbox{
    background-image: linear-gradient(90deg , rgba(255,69,0, 0.5) , rgba(1,1,1 , 0.5));
    color: white;
    display: flex;
    position: absolute;
    left: 35%;
    top: 18%;
    border: 2px solid whitesmoke;
    width: 55%;
    height: 70%;
    border-radius: 17px;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    flex-direction: column;
    text-align: center;
    box-shadow: 3px 3px 3px lightcoral;
  }
  .centralbox > p{
    font-size: 200% ;
    resize: none;
    width: 97%;
    height: 45%;
    font-size: 250%;
  }
  .centralbox > input{
    width: 60%;
    font-size: 120%;
    height: 20%;
    color: white;
    transition: background-color 500ms ease;
  }
  .centralbox > input:hover{
    background-color: rgba(120, 240, 256, 1.0);
  }
  .centralbox > select {
    width: 80%;
    height: 10%;
    color: red;
    background-color: white;
  }
  .centralbox > p, input , select{
  
    
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    
  }
  /*The sidebar style starts here       */
  /* 
  
   */
  .sidebar{
    background-image: linear-gradient(90deg , rgba(258,69,0, 0.6) , rgba(128,0,128,0.4));
    border: 3px solid black;
    position: absolute;
    width: 20%;
    height: 80%;
    top: 18%;
    left: 0%;
    border-radius: 10px;
    opacity: 0.8;
    overflow: auto;
    box-shadow: 4px 4px 10px black;
    
  }
  .sidebar > button{
    width: 70%;
    height: 30%;
    margin-left: 15%;
    margin-bottom: 10%;
    border: 1px solid blue;
    color: white;
    border-radius: 50px;
  }
  #Mercury{
    background-image: url(../../images//Mercury.jpg);
    background-position: center;
    background-size:cover;
  }
  #Venus{
    background-image: url(../../images//Venus.jpg);
    background-position: center;
    background-size:cover;
  }
  #Earth{
    background-image: url(../../images//Earth.jpg);
    background-position: center;
    background-size:cover;
  }
  #Mars{
    background-image: url(../../images//Mars.jpg);
    background-position: center;
    background-size:cover;
  }
  #Jupiter{
    background-image: url(../../images//Jupiter.jpg);
    background-position: center;
    background-size:cover;
  }
  #Saturn{
    background-image: url(../../images//Saturn.jpg);
    background-position: center;
    background-size:cover;
  }
  #Uranus{
    background-image: url(../../images//Uranus.jpg);
    background-position: center;
    background-size:cover;
  }
  #Neptune{
    background-image: url(../../images//Neptune.jpg);
    background-position: center;
    background-size:cover;
  }
  #Pluto{
    background-image: url(../../images//Pluto.jpg);
    background-position: center;
    background-size:cover;
  }
  #Moon{
    background-image: url(../../images//Moon.jpg);
    background-position: center;
    background-size:cover;
  }
  #Eris{
    background-image: url(../../images//Eris.jpg);
    background-position: center;
    background-size:cover;
  }
  #MakeMake{
    background-image: url(../../images//MakeMake.jpg);
    background-position: center;
    background-size:cover;
  }
  #Ceres{
    background-image: url(../../images//Ceres.jpg);
    background-position: center;
    background-size:cover;
  }
  #Haumea{
    background-image: url(../../images/Haumea.jpg);
    background-position: center;
    background-size:cover;
  }
  #Ganymede-Jupiter{
    background-image: url(../../images/Ganymede.jpg);
    background-position: center;
    background-size:cover;
  }
  #Titan-Saturn{
    background-image: url(../../images/Titan.jpg);
    background-position: center;
    background-size:cover;
  }
  #Io-Jupiter{
    background-image: url(../../images/Io.jpg);
    background-position: center;
    background-size:cover;
  }
  #Europa-Jupiter{
    background-image: url(../../images/Europa.jpg);
    background-position: center;
    background-size:cover;
  }
  #Callisto-Jupiter{
    background-image: url(../../images/Callisto.jpg);
    background-position: center;
    background-size:cover;
  }

  /* Mobile styling */

  @media (max-width : 786px) {
      .centralbox{
        position: absolute;
        left: 0;
        max-height: 55vh;
        top: 40vh;
        width: 85vw;
      }
      .centralbox > p{
        font-size: 180%;
        max-height: 40%;
        overflow: auto;
      }
  }