#planet-facts-body{
    background-image: url(../../images/back-planet-facts.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
#info{
    position: absolute;
    left: 24%;
    top: 18%;
    text-align: center;
    color: bisque;
    font-size: 150%;
    text-shadow: 1px 1px 5px darkcyan;
    padding: 1%;
    border-radius: 15px;
    border: 3px solid white;
    width: 70vw;
    height: 75vh;
    background-image: linear-gradient(90deg,rgba(255,0,0,0.8),orange);
    opacity: 0.8;
    overflow: auto;
    max-width: 70vw;
}
#Planet-facts-mainframe{
    transition: background-color 800ms ease,color 800ms ease;
}
#Planet-facts-mainframe:hover{
    background-color: black;
    color: lightgray;
}


/* Mobile Layout */
@media (max-width:786px) {
    #planet-facts-body{
        height: 120vh;
    }
    #info{
        position: absolute;
        top: 40vh !important;
        left: 1vw !important;
        min-width: 95vw !important;
    }
}