#main{
    position: absolute;
    left: 20%;
    top: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}
body{
    background-image: url(../../images/back-file-reader.jpg);
   
    background-size: cover;
    background-repeat: no-repeat;
}
#main > #content{
    width: 60vw;
    height: 70vh;
    border: 2px solid black;
}
#supported{
    border : 2px solid black;
    width: 22vw;
    height : 70vh;
    margin: 0.5%;
    padding: 2%;
    overflow: auto;
}
#renderer{
    background-image: linear-gradient(90deg , rgba(1,1,1,0.5) ,rgba(128,128,128,0.5));
    width: 50%;
    height: 80vh;
    border: 2px solid black;
    left: 30%;
    position: absolute;
    top: 17%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vh;
}
#content{
    width: 85%;
    height: 70vh;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}