#background{
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/back-css-gen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#leftwrapper{
    position: absolute;
    left: 0%;
    top: 17%;
    border: 2px solid red;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(256, 0, 0, 0.7); /* Offset-x | Offset-y | Blur-radius | Color */
    height: 80vh;
    width: 25%;
    background-image: linear-gradient(90deg , rgba(0,255,0,0.8) , rgba(0,0,255,0.7));
    opacity: 0.8;
}
#leftbar{
    overflow: auto;
    height: 80%;
    
    padding: 2%;
    width: 94%;
    border-radius: 15px;
}
#rightwrapper{
    position: absolute;
    left: 26%;
    top: 17%;
    border: 2px solid red;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(256,0, 0, 0.7); /* Offset-x | Offset-y | Blur-radius | Color */
    height: 80vh;
    width: 25%;
    background-image: linear-gradient(90deg , rgba(0,0,255,0.8) , rgba(0,255,0,0.7));
    opacity: 0.8;
}
#text-copy{
    position: absolute;
    left: 54%;
    top: 17%;
    width: 40vw;
    height: 72vh;
    padding: 2%;
    border: 2px solid red;
    background-image: linear-gradient(90deg , green , red);
    box-shadow: 5px 5px 5px blue;
    border-radius: 15px;
    opacity: 0.7;
    color: yellow;
    overflow: auto;
}
#leftbar > ul > li::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgb(66, 3, 66); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    font-size: 200%;
    text-shadow: 2px 1px 1px red;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -0.5em; /* Also needed for space (tweak if needed) */
}
#leftbar > ul  > li{
    list-style: none;
    margin: 2%;
}
#leftbar > ul  > li > button {
    border-radius: 10px;
    background-image: linear-gradient(90deg , rgba(70,90,100 , 0.9) , rgba(12,12,12));
    color: whitesmoke;
    padding: 2%;
}
