#title{
    text-align: center;
    font-size: 400%;
    font-weight: bolder;
    color: whitesmoke;
    text-shadow: 2px 2px 5px indigo;
    background-image: linear-gradient(90deg , wheat , white);
    position: absolute;
    top: 9%;
    left: 25%;
    border-radius: 25px;
    width: 50vw;
    
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/back-pass-gen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#gradient{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(180deg , rgba(56,125,128,0.9) , rgba(40,80,120,0.5));
}