@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
  font-family: 'Poppins';
}
.Background{
  background-image: url(back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  transition: background-color 0.5s ease-in-out;
}
.centralbox{
  background-image: linear-gradient(90deg , rgba(1,1,1, 0.5) , rgba(1,1,1 , 0.5));
  color: red;
  display: flex;
  position: absolute;
  left: 20%;
  top: 16%;
  border: 2px solid whitesmoke;
  width: 55%;
  height: 70%;
  border-radius: 17px;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  flex-direction: column;
  text-align: center;
}
.centralbox > p{
  font-size: 200% ;
  resize: none;
  width: 97%;
  height: 24%;
  font-size: 250%;
}
.centralbox > input{
  width: 60%;
  font-size: 120%;
  height: 20%;
  color: red;
}
.centralbox > select {
  width: 80%;
  height: 10%;
  color: red;
  background-color: white;
}
.centralbox > p, input , select{

  
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  
}
/*The sidebar style starts here       */
/* 

 */
.sidebar{
  
}
