@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
  font-family: 'Poppins';
}
.Background{
  background-image: url(images/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  transition: background-color 0.5s ease-in-out;
}
.centralbox{
  background-image: linear-gradient(90deg , rgba(1,1,1, 0.5) , rgba(1,1,1 , 0.5));
  color: red;
  display: flex;
  position: absolute;
  left: 35%;
  top: 16%;
  border: 2px solid whitesmoke;
  width: 55%;
  height: 70%;
  border-radius: 17px;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  flex-direction: column;
  text-align: center;
}
.centralbox > p{
  font-size: 200% ;
  resize: none;
  width: 97%;
  height: 45%;
  font-size: 250%;
}
.centralbox > input{
  width: 60%;
  font-size: 120%;
  height: 20%;
  color: red;
}
.centralbox > select {
  width: 80%;
  height: 10%;
  color: red;
  background-color: white;
}
.centralbox > p, input , select{

  
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  
}
/*The sidebar style starts here       */
/* 

 */
.sidebar{
  background-image: linear-gradient(90deg , rgba(148, 0, 211, 0.4) , rgba(64, 64, 64 ,0.4));
  border: 3px solid black;
  position: absolute;
  width: 20%;
  height: 80%;
  top: 18%;
  left: 0%;
  border-radius: 10px;
  opacity: 0.8;
  overflow: auto;
  
}
.sidebar > button{
  width: 70%;
  height: 30%;
  margin-left: 15%;
  margin-bottom: 10%;
  border: 1px solid blue;
  color: white;
}
#Mercury{
  background-image: url(images/Mercury.jpg);
  background-position: center;
  background-size:contain;
}
#Venus{
  background-image: url(images/Venus.jpg);
  background-position: center;
  background-size:contain;
}
#Earth{
  background-image: url(images/Earth.jpg);
  background-position: center;
  background-size:contain;
}
#Mars{
  background-image: url(images/Mars.jpg);
  background-position: center;
  background-size:contain;
}
#Jupiter{
  background-image: url(images/Jupiter.jpg);
  background-position: center;
  background-size:contain;
}
#Saturn{
  background-image: url(images/Saturn.jpg);
  background-position: center;
  background-size:contain;
}
#Uranus{
  background-image: url(images/Uranus.jpg);
  background-position: center;
  background-size:contain;
}
#Neptune{
  background-image: url(images/Neptune.jpg);
  background-position: center;
  background-size:contain;
}
#Pluto{
  background-image: url(images/Pluto.jpg);
  background-position: center;
  background-size:contain;
}
#Moon{
  background-image: url(images/Moon.jpg);
  background-position: center;
  background-size:contain;
}