#homepage{
    background-image: url(../images/codeback.png.jpg);
    background-position: center;
    background-size:cover;
    width: 100%;
    height: 110vh;
  }
  #homepage > #intro_text{
    color: violet;
    opacity: 1.0;
   width: 55% ;  
   position: absolute;
   top: 18%;
    margin: 1%;
    background-image: linear-gradient(90deg , rgba(236,236,10,0.5) ,rgba(0,0,0,0.5) );
    box-shadow: 1px 1px 2px white;
    resize: none;
    max-height: 70%;
    overflow:auto;
  }
  #homepage > #intro_text > #start{
    font-size: 400%;
    text-align: center;
    font-style: italic;
  }
  #homepage > #intro_text > #start > #text {
    color: white;
    font-size: 70%;
  }
  #homepage > #projects{
    opacity: 1.0;
    border: 2px solid white;
    overflow: auto;
    width: 35%;
    height: 75vh;
    position: absolute;
    left: 60%;
    top: 18%;
    padding: 1%;
    background-image: linear-gradient(90deg , magenta ,rgba(0,0,0,0.5));
    box-shadow: 2px 2px 2px blue;
  }

  